.header {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}
.header_Logo {
}
.logo {
  width: 100px;
}
.headerList {
  padding: 0px 24px;

  /* background-color: aqua; */
}

.headerList > ul {
  display: flex;

  /* flex-direction: row; */
}

.headerList > ul > li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1.4rem;
  color: rgb(24, 23, 22);
}

/* -----Body ------ */
.serachBar {
  /* margin-top: 0px; */
  background-color: antiquewhite;
  padding: 1rem;
}
.cardContainer {
  background-color: azure;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.res_Card {
  padding: 5px;
  width: 200px;
  height: 300px;
  border: 1px solid rgb(66, 120, 12);
  background-color: rgb(227, 210, 187);
}
.res_Card:hover {
  border: 1px solid rgb(238, 188, 8);
  background-color: rgb(189, 189, 207);
  cursor: pointer;
}

.card_logo {
  width: 100%;
  height: 140px;
  border-radius: 12px;
}
